body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    /*background: linear-gradient(to right, #290B36, #690E64); */
    /*background-image: url(/images/header.jpg);*/
    background-image:url(/images/gifbackground.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: #230064;
    color: #1F2833;
    text-align: center;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px; /*was 25*/
    overflow: hidden;
    margin-top: 0px; /*was 10*/
    margin-left: 0px; /*was 10*/
    margin-right: 0px; /*was 10*/

    background-image: url(/images/title.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*style for cart button */
header .cart {
    background-color: #FEFE50;
    color: #1F2833;
    padding: 10px 20px;
    border-radius: 25px; 
    text-decoration: none;
}
header .cart:visited {
    background-color: #FEFE50;
    color: #1F2833;
  
}

header .cart:hover {
    background-color: #FFD700; 
}

h1 {
    /*centers h1 text*/
    margin: 0 auto;
    text-align: center;
   

}
/*style for nav bar */
nav.oval-nav {
    background-color: #44318D;
    text-align: center;
    padding: 1em;
    border-radius: 0px; /* was 25 */
    overflow: hidden; 
    margin-top: 0px; /* was 10 */
    margin-left: 0px; /* was 10 */
    margin-right: 0px; /* was 10 */
    border-color: #1F2833;
    border-style: solid;
}

/*style for nav bar links */
nav.oval-nav a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 15px; 
    margin: 0 10px;
    background-color: #FEFE50;
}

nav.oval-nav a:hover {
    background-color: #FFD700; 
}



/*for info bar*/
.section-heading {
    margin: 0 auto;
    text-align: center;
    background-color: #cc02ff; 
    border-radius: 25px;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-image: url(/images/checkout.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 60px;
    padding-top: 80px;  
   
}


main {
    padding: 20px;
    background-color: #122181; 
    color: white;
    text-align: center;
    border-radius: 25px;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#cart-list {
    list-style: none;
    padding: 0;
}

#cart-list li {
    margin-bottom: 10px;
}

#total-price {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}

/*style for image container */
.image-container {
    background-color: #122181;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    padding: 20px;
}


section {
    margin-bottom: 20px;
    text-align: center;
    
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

footer {
    background-color: #44318D;
    color: grey;
    text-align: center;
    padding: 1em;
    margin-top: 470px;;
}

/*desktop view, yet to add to other .css files*/

@media only screen and (min-width: 1000px) {
    body {
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

    }

    header {
        padding: 2em;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    nav.oval-nav {
        padding: 2em;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    nav.oval-nav a {
        padding: 15px 30px;
        margin: 0 15px;
    }

    main {
        grid-template-columns: repeat(4, 1fr); 
    }

    .image-container {
        flex: 0 0 22%; 
        margin: 10px;
        padding: 20px;
    }

    .section-heading {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        
    }

    footer{
        margin-top: 450px;
    }

     /* Adjust background size for desktop view */
     header {
        background-size: auto; 
    }

    h2 {
        background-size: auto; 
    }

    /*add me!!!!!!!!!*/
    .section-heading {
        background-size: auto; 
    }
}

/* Hover effect for image container */
.image-container:hover {
    transform: scale(1.05);
}


/* Style for the "Buy Now" button */
#buy-now-button {
    background-color: #FFD700; 
    color: #1F2833; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; 
    font-weight: bold; 
    margin: 0 auto; 
    display: block;
    
}

/* Hover effect for the button */
#buy-now-button:hover {
    background-color: #FFC400; 
}